// @it should only show one colour
$is-ie = false
$is-ie--version = 0

.class
  background-color rgba(0, 0, 0, 0.5)
  +ie(8)
    background-color #000

// @expect
.class {
  background-color: rgba(0,0,0,.5);
}

// @it should show two colours
$is-ie = true
$is-ie--version = 0

.class
  background-color rgba(0, 0, 0, 0.5)
  +ie(8)
    background-color #000

// @expect
.class {
  background-color: rgba(0,0,0,.5);
  background-color: #000;
}

// @it should show two colours
$is-ie = true
$is-ie--version = 7

.class
  background-color rgba(0, 0, 0, 0.5)
  +ie(8, true)
    background-color #000

// @expect
.class {
  background-color: rgba(0,0,0,.5);
}

// @it should only show one colour
$is-ie = true
$is-ie--version = 9

.class
  background-color rgba(0, 0, 0, 0.5)
  +ie(8, true)
    background-color #000

// @expect
.class {
  background-color: rgba(0,0,0,.5);
}