// @it should convert unit into em value with $baseFontSize
$baseFontSize = 16px

.foo
  width em(16) // 16/16 = 1

// @expect
.foo {
  width: 1em;
}

// @it should convert unit into em value with font size parameter
.foo
  width em(16, 32) // 16/32 = 0.5

// @expect
.foo {
  width: 0.5em;
}

// @it should return percentage based on two values
.foo
  width ratio-percentage(1,2) // 1/2 = 0.5 = 50%

// @expect
.foo {
  width: 50%;
}
