// @describe ellipsis(no-wrap = true)

// @it default to output overflow hidden, text overflow ellipsis, and whitespace nowrap
.class
  ellipsis()

// @expect
.class {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// @it no-wrap false to output overflow hidden, and text overflow ellipsis
.class
  ellipsis(false)

// @expect
.class {
  overflow: hidden;
  text-overflow: ellipsis;
}
