// @describe ellipsis()

// @it should output default ellipsis styles
.element
  ellipsis()

// @expect
.element {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// @it should omit white-space if $nowrap set to false
.element
  ellipsis(false)

// @expect
.element {
  text-overflow: ellipsis;
  overflow: hidden;
}
