// @describe font-face()

// @it should output @fontface with name and filepath
font-face("Font Name", '/fonts/font-name')

// @expect
@font-face {
  font-family: "Font Name";
  src: url("/fonts/font-name.eot");
  src: url("/fonts/font-name.eot?#iefix") format("embedded-opentype"), url("/fonts/font-name.woff") format("woff"), url("/fonts/font-name.ttf") format("truetype"), url("/fonts/font-name.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

// @it should output optional custom weight and style parameters
font-face("Font Name", '/fonts/font-name', 'bold', 'italic')

// @expect
@font-face {
  font-family: "Font Name";
  src: url("/fonts/font-name.eot");
  src: url("/fonts/font-name.eot?#iefix") format("embedded-opentype"), url("/fonts/font-name.woff") format("woff"), url("/fonts/font-name.ttf") format("truetype"), url("/fonts/font-name.svg#svgFontName") format("svg");
  font-weight: bold;
  font-style: italic;
}
