// @describe hide-text()

// @it default to output text indent 110%, whitespace nowrap, and overflow hidden
.element
  hide-text()

// @expect
.element {
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}
