//
// EM
// ===
//


// Default Variables
$base--font-size ?= 16px

_convert-to-em($px, $base = $base--font-size)
  if (unit($px) == '' && ($px != 0))
    return ($px / $base) em

em($value, $base = $base--font-size)
  $max = length($value)

  $emValues = ()
  for $i in (0...$max)
    push($emValues, _convert-to-em( $value[$i], $base ))

  return $emValues
