//
// EM
// ===
//


// Default Variables
$base--font-size ?= 16px

_convert-to-em($px)
if (typeof($px) == 'unit')
  if (unit($px) == '' && ($px != 0))
    ($px / $base) em
  else
    return 0

rem($value)
  $max = length($value)

  $emValues = ()
  for $i in (0...$max)
    push($emValues, _convert-to-em( $value[$i] ))

  return $emValues
