//
// REM
// ===
//


// Default Variables
$base--font-size ?= 16px

_convert-to-rem($px)
  if $is-ie && $is-ie--version <= 8
    ($px)px
  else if (typeof($px) == 'unit')
    if (unit($px) == '' && ($px != 0))
      (round($px / $base--font-size, 3))rem
    else
      return 0

rem($value)
  $max = length($value)

  $remValues = ()
  for $i in (0...$max)
    push($remValues, _convert-to-rem( $value[$i] ))

  return $remValues
