// @describe media-hidpi()

// @it default ratio of 1.3
.element
  +hidpi()
    color #000
+hidpi()
  .element
    color #000

// @expect
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124dpi) {
  .element {
    color: #000;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124dpi) {
  .element {
    color: #000;
  }
}

// @it custom ratio
.element
  +hidpi(2)
    color #000

// @expect
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .element {
    color: #000;
  }
}
