// @it width-min(int) should output content in a media query with a minimum width
.class
  +width-min(100px)
    background-color #fec0ff
+width-min(10em)
  .class
    background-color #fec0ff

// @expect
@media screen and (min-width: 100px) {
  .class {
    background-color: #fec0ff;
  }
}
@media screen and (min-width: 10em) {
  .class {
    background-color: #fec0ff;
  }
}

// @it width-max(int) should output content in a media query with a maximum width
.class
  +width-max(99px)
    background-color #fec0ff
+width-max(9.9375em)
  .class
    background-color #fec0ff

// @expect
@media screen and (max-width: 99px) {
  .class {
    background-color: #fec0ff;
  }
}
@media screen and (max-width: 9.9375em) {
  .class {
    background-color: #fec0ff;
  }
}

// @it width-range(int, int) should output content in a media query with a minimum and maximum width
.class
  +width-range(100px, 199px)
    background-color #fec0ff
+width-range(10em, 19.9375em)
  .class
    background-color #fec0ff

// @expect
@media screen and (min-width: 100px) and (max-width: 199px) {
  .class {
    background-color: #fec0ff;
  }
}
@media screen and (min-width: 10em) and (max-width: 19.9375em) {
  .class {
    background-color: #fec0ff;
  }
}

// @it height-min(int) should output content in a media query with a minimum height
.class
  +height-min(100px)
    background-color #fec0ff
+height-min(10em)
  .class
    background-color #fec0ff

// @expect
@media screen and (min-height: 100px) {
  .class {
    background-color: #fec0ff;
  }
}
@media screen and (min-height: 10em) {
  .class {
    background-color: #fec0ff;
  }
}

// @it height-max(int) should output content in a media query with a maximum height
.class
  +height-max(99px)
    background-color #fec0ff
+height-max(9.9375em)
  .class
    background-color #fec0ff

// @expect
@media screen and (max-height: 99px) {
  .class {
    background-color: #fec0ff;
  }
}
@media screen and (max-height: 9.9375em) {
  .class {
    background-color: #fec0ff;
  }
}

// @it height-range(int, int) should output content in a media query with a minimum and maximum height
.class
  +height-range(100px, 199px)
    background-color #fec0ff
+height-range(10em, 19.9375em)
  .class
    background-color #fec0ff

// @expect
@media screen and (min-height: 100px) and (max-height: 199px) {
  .class {
    background-color: #fec0ff;
  }
}
@media screen and (min-height: 10em) and (max-height: 19.9375em) {
  .class {
    background-color: #fec0ff;
  }
}
