// @describe width-min()

// @it output content in a media query with a minimum width
.element
  +width-min(100px)
    color #000
+width-min(10em)
  .element
    color #000

// @expect
@media screen and (min-width: 100px) {
  .element {
    color: #000;
  }
}
@media screen and (min-width: 10em) {
  .element {
    color: #000;
  }
}

// @it output without media queries if $no-mq is true, and `int` is within the fixed bounds.
+width-min(960px)
  .element
    color #000
$no-mq = true
$width--fixed-min = 960px
// Within bounds: $width--fixed-min is larger than 959px
+width-min(959px)
  .element1
    color #000
// Within bounds: $width--fixed-min is equal to 960px
+width-min(960px)
  .element2
    color #000
// Out of bounds: $width--fixed-min is smaller than 961px
+width-min(961px)
  .element3
    color #000

// @expect
@media screen and (min-width: 960px) {
  .element {
    color: #000;
  }
}
.element1 {
  color: #000;
}
.element2 {
  color: #000;
}


// @describe width-max()

// @it output content in a media query with a maximum width
.element
  +width-max(99px)
    color #000
+width-max(9.9375em)
  .element
    color #000

// @expect
@media screen and (max-width: 99px) {
  .element {
    color: #000;
  }
}
@media screen and (max-width: 9.9375em) {
  .element {
    color: #000;
  }
}

// @it output without media queries if $no-mq is true, and `int` is within the fixed bounds.
+width-max(1200px)
  .element
    color #000
$no-mq = true
$width--fixed-max = 1200px
// Within bounds: $width--fixed-max is smaller than 1201px
+width-max(1201px)
  .element1
    color #000
// Within bounds: $width--fixed-max is equal to 1200px
+width-max(1200px)
  .element2
    color #000
// Out of bounds: $width--fixed-max larger than 1199px
+width-max(1199px)
  .element3
    color #000

// @expect
@media screen and (max-width: 1200px) {
  .element {
    color: #000;
  }
}
.element1 {
  color: #000;
}
.element2 {
  color: #000;
}


// @describe width-range()

// @it output content in a media query with a minimum and maximum width
.element
  +width-range(100px, 199px)
    color #000
+width-range(10em, 19.9375em)
  .element
    color #000

// @expect
@media screen and (min-width: 100px) and (max-width: 199px) {
  .element {
    color: #000;
  }
}
@media screen and (min-width: 10em) and (max-width: 19.9375em) {
  .element {
    color: #000;
  }
}

// @it output without media queries if $no-mq is true, and `a` and `b` are within the fixed bounds.
+width-range(960px, 1200px)
  .element
    color #000
$no-mq = true
$width--fixed-min = 960px
$width--fixed-max = 1200px
// Within bounds: $width--fixed-min is larger than 959px and $width--fixed-max is smaller than 1201px
+width-range(959px, 1201px)
  .element1
    color #000
// Within bounds: $width--fixed-min is equal to 960px and $width--fixed-max is equal to 1200px
+width-range(960px, 1200px)
  .element2
    color #000
// Out of bounds: $width--fixed-min is smaller than 961px
+width-range(961px, 1200px)
  .element3
    color #000
// Out of bounds: $width--fixed-max is larger than 1199px
+width-range(960px, 1199px)
  .element4
    color #000
// Out of bounds: $width--fixed-min is smaller than 961px and $width--fixed-max is larger than 1199px
+width-range(961px, 1199px)
  .element5
    color #000

// @expect
@media screen and (min-width: 960px) and (max-width: 1200px) {
  .element {
    color: #000;
  }
}
.element1 {
  color: #000;
}
.element2 {
  color: #000;
}


// @describe height-min()
// @it output content in a media query with a minimum height
.element
  +height-min(100px)
    color #000
+height-min(10em)
  .element
    color #000

// @expect
@media screen and (min-height: 100px) {
  .element {
    color: #000;
  }
}
@media screen and (min-height: 10em) {
  .element {
    color: #000;
  }
}


// @describe height-max()
// @it output content in a media query with a maximum height
.element
  +height-max(99px)
    color #000
+height-max(9.9375em)
  .element
    color #000

// @expect
@media screen and (max-height: 99px) {
  .element {
    color: #000;
  }
}
@media screen and (max-height: 9.9375em) {
  .element {
    color: #000;
  }
}


// @describe height-range()
// @it output content in a media query with a minimum and maximum height
.element
  +height-range(100px, 199px)
    color #000
+height-range(10em, 19.9375em)
  .element
    color #000

// @expect
@media screen and (min-height: 100px) and (max-height: 199px) {
  .element {
    color: #000;
  }
}
@media screen and (min-height: 10em) and (max-height: 19.9375em) {
  .element {
    color: #000;
  }
}

// @it output nothing $no-mq is true, and height media queries are being used.
$no-mq = true

+height-min(959px)
  .element1
    color #000
+height-max(1201px)
  .element2
    color #000
+height-range(959px, 1201px)
  .element3
    color #000

// @expect
