//
// COLUMN SPAN WIDTH
// =================
// Returns the width of a specified column span
//

$base--col-total ?= 12
$grid--gutter ?= 20px
$base--max-width ?= 1180px

col-span-width($col-span, $col-total = $base--col-total, $col-gutter = $grid--gutter, $max-width = $base--max-width)

  if (unit($col-gutter) != unit($max-width))
    error('Mismatched unit types for provided for col-span-width: ' + $col-gutter + ', ' + $max-width)

  ($max-width + $col-gutter) * $col-span / $col-total - $col-gutter
