// @describe em()

// @it convert pixel unit into em value
.element
  width em(16) // 16/16 = 1

// @expect
.element {
  width: 1em;
}

// @it convert pixel unit into em value with $base--font-size
$base--font-size = 20px

.element
  width em(16) // 16/20 = 0.8

// @expect
.element {
  width: 0.8em;
}

// @it convert pixel unit into em value with supplied base unit
.element
  width em(16, 32) // 16/32 = 0.5

// @expect
.element {
  width: 0.5em;
}

// @it no failure when passed a zero value
.element
  width em(0)

// @expect
.element {
  width: 0;
}
