// @describe em()

// @it should convert pixel value into em value
.element
  margin em(16) // 16/16 = 1

// @expect
.element {
  margin: 1em;
}

// @it should convert pixel value into em value with $base--font-size
$base--font-size = 20px

.element
  margin em(16) // 16/20 = 0.8

// @expect
.element {
  margin: 0.8em;
}

// @it should convert pixel value into em value with supplied base value
.element
  margin em(16 8, 32) // 16/32 = 0.5, 8/32 = 0.25

// @expect
.element {
  margin: 0.5em 0.25em;
}

// @it should not fail when passed a `px` unit type
.element
  margin em(16px)

// @expect
.element {
  margin: 1em;
}

// @it should not fail when passed a zero value
.element
  margin em(0)

// @expect
.element {
  margin: 0;
}
