//
// GRID BASE
// =========
// TODO: Add documentation for usage
//

_grid($namespace, $columns, $property)
  for $column, $i in $columns
    $grid = $col-size-names[$column - 1]
    if ($column - 1 > 0)
      // Loop trough col size names
      for $size, $j in $col-count-names
        // Check if we need this size
        if $j < ($column - 1)
          $plural = $j is 0 ? '' : 's'
          .{$namespace}{$size}-{$grid[0]}{$plural}
            {$property} ($j+1) * (100% / $column)
          if $property == 'width'
            .{$namespace}{$col-count-names[0]}-{$grid[0]}
              ie(7, ieWidth, ($j+1) * (100 / $column))
    else
      .{$namespace}{$col-count-names[0]}-{$grid[0]}
        {$property} 100%
      if $property == 'width'
        .{$namespace}{$col-count-names[0]}-{$grid[0]}
          ie(7, ieWidth, 100)

grid-widths()
  $namespace = arguments[0]
  $columns = arguments[1]
  _grid($namespace, $columns, 'width')

grid-pull()
  $namespace = arguments[0]
  $columns = arguments[1]
  _grid($namespace, $columns, 'right')

grid-push()
  $namespace = arguments[0]
  $columns = arguments[1]
  _grid($namespace, $columns, 'left')

grid-modifiers($namespace='')
  // Gutterless grid
  .{$namespace}grid--full
    margin-left 0
    > .grid__item
      padding-left 0

  // Reverses the rendered layout of the 'grid__item's
  .{$namespace}grid--rev
    direction rtl
    text-align right
    > .grid__item
      direction ltr
      text-align left
      ielte(7, ielte7-rev-grid-item)

  // Create grids with narrower gutters
  .{$namespace}grid--narrow
    margin-left - ($gutter / 2)
    > .grid__item
      padding-left ($gutter / 2)

  // Create grids with wider gutters
  .{$namespace}grid--wide
    margin-left - ($gutter * 2)
    > .grid__item
      padding-left ($gutter * 2)
