//
// INTERNET EXPLORER
// =================
//

// Default Variables
$is-ie ?= false
$is-ie--version ?= 0

ie($version, $strict = false)
  if ($is-ie == true)
    if($strict == true)
      if ($is-ie--version == $version)
        {block}
    else
      if ($is-ie--version <= $version)
        {block}
