//
// OPACITY
// =======
//


// Default Variables
$is-ie ?= false

opacity($n, $args...)
  opacity: $n $args
  if $is-ie
    $val = round($n * 100)
    +ie(8, true)
      -ms-filter: '"alpha(opacity=%s)"' % $val $args
    +ie(7)
      filter: 'alpha(opacity=%s)' % $val $args
