//
// MEDIA WIDTHS
// ============
// Outputs a block of code into a media query using specified widths.
// Also add the ability to output code directly to Internet Explorer stylesheets
// where media queries are unsupported.
//
// To work correctly, all IE specific stylesheets will need to contain
// the following variables:
//

* $is-ie = true
* $is-ie--media-fixed = 960 // set desired fixed viewport width


//
// EXAMPLE 1: media-min( $min-width )
// Will only affect viewports larger than the specified size
//

.class
  background blue
  +media-min(420)
    background red
  +media(600) // This is an lias which defaults to `media-min()`
    background blue

+media-max(900)
  .class
    background green


//
// EXAMPLE 2: media-max( $max-width )
// Will only affect viewports smaller than the specified size
//

.class
  background blue
  +media-max(420)
    background red

+media-max(900)
  .class
    background green


//
// EXAMPLE 2: media-range( $min-width, $max-width )
// Will only affect viewports between the two specified sizes.
//

.class
  background blue
  +media-range(420, 500)
    background red

+media-range(600, 900)
  .class
    background green
