//
// MEDIA WIDTHS
// ============
// Outputs a block of code into a media query using specified widths.
// Also add the ability to output code directly to Internet Explorer stylesheets
// where media queries are unsupported.
//
// EXAMPLE 1:
// Used within selector
//
// .class
//   background blue
//   +media-min(420)
//     background red
//
// EXMAPLE 2:
// Used to wrap selector
//
// +media-max(900)
//   .class
//     background green
//
// To work correctly, all IE specific stylesheets will need to contain
// the following variables:
//
// * $is-ie = true
// * $is-ie--media-fixed = 960 // set desired fixed viewport width
//


// // Alias `media()` to most commonly used `media-min()`
// media($width)
//   +media-min($width)
//     {block}

// // Target viewports *wider* than supplied width
// media-min($width)
//   if ($is-ie == true)
//     if ($is-ie--media-width >= $width)
//       {block}
//   else
//     $mq = 'screen and (min-width: ' + em($width, 16) + ')'
//     @media $mq
//       {block}

// // Target viewports *narrower* than supplied width
// media-max($width)
//   if ($is-ie == true)
//     if ($is-ie--media-width <= $width)
//       {block}
//   else
//     $mq = 'screen and (max-width: ' + em($width, 16) + ')'
//     @media $mq
//       {block}

// // Target viewports *between* supplied widths
// media-min-max($min-width, $max-width)
//   if ($is-ie == true)
//     if ($is-ie--media-width >= $min-width && $is-ie--media-width <= $max-width)
//       {block}
//   else
//     $mq = 'screen and (min-width: ' + em($min-width, 16) + ') and (max-width: ' + em($max-width, 16) + ')'
//     @media $mq
//       {block}
