//
// MISC MIXINS
// ===========
// Waiting to be rehomed.
//


em($px, $base = $baseFontSize)
  ($px / $base) em


image-replacement()
  display block
  overflow hidden
  white-space nowrap
  text-indent 150%


ratio-percentage(width, height)
  ( height / width  * 100)%
