// @describe clearfix()

// @it output a clearfix styles to an element
.element
  clearfix()

// @expect
.element:after,
.element:before {
  content: "";
  display: table;
}
.element:after {
  clear: both;
}

// @it output a clearfix styles to an element with IE7 content if $is-ie--version == 7
$is-ie = true
$is-ie--version = 7

.element
  clearfix()

// @expect
.element {
  zoom: 1;
}
.element:after,
.element:before {
  content: "";
  display: table;
}
.element:after {
  clear: both;
}
