// @describe ie($version, $strict = false)

// @it not output IE styles to non-IE stylesheets
.class
  background-color rgba(0, 0, 0, 0.5)
  +ie(8)
    background-color #000

// @expect
.class {
  background-color: rgba(0,0,0,.5);
}

// @it add extra content if IE version matches $is-ie--version
$is-ie = true
$is-ie--version = 8

.class
  background-color rgba(0, 0, 0, 0.5)
  +ie(8)
    background-color #000

// @expect
.class {
  background-color: rgba(0,0,0,.5);
  background-color: #000;
}

// @it add extra content if IE version is lower than $is-ie--version
$is-ie = true
$is-ie--version = 7

.class
  background-color rgba(0, 0, 0, 0.5)
  +ie(8)
    background-color #000

// @expect
.class {
  background-color: rgba(0,0,0,.5);
  background-color: #000;
}

// @it not add extra content if IE version is lower than $is-ie--version and $strict is true
$is-ie = true
$is-ie--version = 7

.class
  background-color rgba(0, 0, 0, 0.5)
  +ie(8, true)
    background-color #000

// @expect
.class {
  background-color: rgba(0,0,0,.5);
}

// @it not add extra content if IE version is greater than $is-ie--version
$is-ie = true
$is-ie--version = 8

.class
  background-color rgba(0, 0, 0, 0.5)
  +ie(7)
    background-color #000

// @expect
.class {
  background-color: rgba(0,0,0,.5);
}
