// @describe ie()

// @it should not output IE styles to non-IE stylesheets
.element
  background-color rgba(0, 0, 0, 0.5)
  +ie(8)
    background-color #000

// @expect
.element {
  background-color: rgba(0,0,0,.5);
}

// @it should add extra content if IE version matches $is-ie--version
$is-ie = true
$is-ie--version = 8

.element
  background-color rgba(0, 0, 0, 0.5)
  +ie(8)
    background-color #000

// @expect
.element {
  background-color: rgba(0,0,0,.5);
  background-color: #000;
}

// @it should add extra content if IE version is lower than $is-ie--version
$is-ie = true
$is-ie--version = 7

.element
  background-color rgba(0, 0, 0, 0.5)
  +ie(8)
    background-color #000

// @expect
.element {
  background-color: rgba(0,0,0,.5);
  background-color: #000;
}

// @it should not add extra content if IE version is lower than $is-ie--version and $strict is true
$is-ie = true
$is-ie--version = 7

.element
  background-color rgba(0, 0, 0, 0.5)
  +ie(8, true)
    background-color #000

// @expect
.element {
  background-color: rgba(0,0,0,.5);
}

// @it should not add extra content if IE version is greater than $is-ie--version
$is-ie = true
$is-ie--version = 8

.element
  background-color rgba(0, 0, 0, 0.5)
  +ie(7)
    background-color #000

// @expect
.element {
  background-color: rgba(0,0,0,.5);
}
