// @describe opacity()

// @it output no MS filters if $is-ie is false
.element1
  opacity 1
.element2
  opacity 0.5
.element3
  opacity 0

// @expect
.element1 {
  opacity: 1;
}
.element2 {
  opacity: 0.5;
}
.element3 {
  opacity: 0;
}


// @it output MS filters if $is-ie is true and $is-ie--version is exactly 8
$is-ie = true
$is-ie--version = 8
.element1
  opacity 0
.element2
  opacity 0.5
.element3
  opacity 1

// @expect
.element1 {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
}
.element2 {
  opacity: .5;
  -ms-filter: "alpha(opacity=50)";
}
.element3 {
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
}


// @it output MS filters if $is-ie is true and $is-ie--version is 7 or lower
$is-ie = true
$is-ie--version = 7
.element1
  opacity 0
.element2
  opacity 0.5
.element3
  opacity 1

// @expect
.element1 {
  opacity: 0;
  filter: alpha(opacity=0);
}
.element2 {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.element3 {
  opacity: 1;
  filter: alpha(opacity=100);
}


// @it allow for `!important` to be passed at the end of a declaration
.element1
  opacity 0.5 !important

$is-ie = true
$is-ie--version = 8
.element2
  opacity 0.5 !important

$is-ie = true
$is-ie--version = 7
.element3
  opacity 0.5 !important

// @expect
.element1 {
  opacity: 0.5 !important;
}
.element2 {
  opacity: 0.5 !important;
  -ms-filter: "alpha(opacity=50)" !important;
}
.element3 {
  opacity: 0.5 !important;
  filter: alpha(opacity=50)  !important;
}
