// @it em(int) should convert pixel unit into em value with $baseFontSize
$baseFontSize = 16px

.foo
  width em(16) // 16/16 = 1

// @expect
.foo {
  width: 1em;
}

// @it em(int, base) should convert pixel unit into em value with supplied base unit
.foo
  width em(16, 32) // 16/32 = 0.5

// @expect
.foo {
  width: 0.5em;
}

// @it ratio-percentage(a, b) should return a ratio percentage based on two supplied values
.foo
  width ratio-percentage(2, 1) // 1/2 = 0.5 = 50%

// @expect
.foo {
  width: 50%;
}
