//
// HI-DPI
// ======
//


hidpi($ratio = 1.3)

  $mq = '(-webkit-min-device-pixel-ratio: ' + $ratio + '), '
  $mq = $mq + '(min-resolution: ' + floor($ratio * 96) + 'dpi)'

  @media $mq
    {block}
